
<div class="c-detail-modal fixActionRow" [ngClass]="isMobile$ ? 'c-detail-modal--mobile' : ''">
  <div fxLayout="row nowrap" fxLayoutAlign="start stretch" *ngIf="(isMobile$ | async) === false">
    <div fxFlex="1 1">
      <h2 class="c-detail-title" mat-dialog-title>
        <span fxFlex="1 1" class="c-name">
          {{data.airport.name}} Departures
        </span>
        <span fxFlex="1 1" class="c-time-selector">
          <mat-form-field [formGroup]="departureForm">
            <mat-label>Select a time range</mat-label>
            <mat-select  formControlName="departureSelector">
              <mat-option>None</mat-option>
              <mat-option value="3600">Last 1 hour</mat-option>
              <mat-option value="10800">Last 3 hours</mat-option>
              <mat-option value="21600">Last 6 hours</mat-option>
              <mat-option value="86400">Last 24 hours</mat-option>
              <mat-option value="172800">Last 2 days</mat-option>
              <mat-option value="604800">Last 1 week</mat-option>
            </mat-select>
          </mat-form-field>
        </span>

      </h2>
    </div>
    <div fxFlex="1 1">
      <h2 class="c-detail-title" mat-dialog-title>
        <span fxFlex="1 1" class="c-name">
          {{data.airport.name}} Arrivals
        </span>
        <span fxFlex="1 1" class="c-time-selector">
          <mat-form-field [formGroup]="arrivalForm">
            <mat-label>Select a time range</mat-label>
            <mat-select  formControlName="arrivalSelector">
              <mat-option>None</mat-option>
              <mat-option value="3600">Last 1 hour</mat-option>
              <mat-option value="10800">Last 3 hours</mat-option>
              <mat-option value="21600">Last 6 hours</mat-option>
              <mat-option value="86400">Last 24 hours</mat-option>
              <mat-option value="172800">Last 2 days</mat-option>
              <mat-option value="604800">Last 1 week</mat-option>
            </mat-select>
          </mat-form-field>
        </span>

      </h2>

    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div fxLayout="row nowrap" fxFlexFill fxLayoutAlign="start stretch" *ngIf="(isMobile$ | async) === false">
      <div fxFlex="1 1" fxFlexFill>
        <div style="height: 100%; width: 100%; margin: auto; overflow-x: hidden; overflow-y: auto;">
          <cdk-virtual-scroll-viewport class="cdk-viewport" itemSize="50">
            <mat-accordion class="c-accordion-header">
                <ng-container *cdkVirtualFor="let departure of departureResult.departures; templateCacheSize: 0">
                  <mat-expansion-panel *ngIf="departure">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Aircraft {{departure?.icao24?.toUpperCase()}} | <small>Time: {{getFormattedDate(departure?.firstSeen)}}</small>
                      </mat-panel-title>
                      <mat-panel-description>
                        Destination airport: {{departure?.estArrivalAirport?.toUpperCase()}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                      <small>Departure time</small>
                      <h4>{{getFormattedDate(departure?.firstSeen)}}</h4>
                    <p>
                      <small>Arrival time (est.)</small>
                      <h4>{{getFormattedDate(departure?.lastSeen)}}</h4>
                    <p>
                      <small>Airports near destination</small>
                      <h4>{{departure?.arrivalAirportCandidatesCount}}</h4>
                  </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>

      <div fxFlex="1 1" fxFlexFill>
        <div style="height: 100%; width: 100%; margin: auto; overflow-x: hidden; overflow-y: auto;" *ngIf="arrivalResult.arrivals.length">
          <cdk-virtual-scroll-viewport class="cdk-viewport" itemSize="50">
            <mat-accordion class="c-accordion-header">
                <ng-container *cdkVirtualFor="let arrival of arrivalResult.arrivals; templateCacheSize: 0">
                  <mat-expansion-panel *ngIf="arrival">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Aircraft {{arrival?.icao24?.toUpperCase()}} | <small>Time: {{getFormattedDate(arrival?.firstSeen)}}</small>
                      </mat-panel-title>
                      <mat-panel-description>
                        Departure airport: {{arrival?.estDepartureAirport?.toUpperCase()}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                      <small>Departure time</small>
                      <h4>{{getFormattedDate(arrival?.firstSeen)}}</h4>
                    <p>
                      <small>Arrival time (est.)</small>
                      <h4>{{getFormattedDate(arrival?.lastSeen)}}</h4>
                    <p>
                      <small>Airports near departure airport</small>
                      <h4>{{arrival?.departureAirportCandidatesCount}}</h4>
                  </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>

    </div>
    <!--Mobile Only screens-->
    <mat-tab-group *ngIf="(isMobile$ | async)">
      <mat-tab label="Departures">
        <mat-form-field [formGroup]="departureForm" class="c-range--mobile">
          <mat-label>Select a time range</mat-label>
          <mat-select  formControlName="departureSelector">
            <mat-option>None</mat-option>
            <mat-option value="3600">Last 1 hour</mat-option>
            <mat-option value="10800">Last 3 hours</mat-option>
            <mat-option value="21600">Last 6 hours</mat-option>
            <mat-option value="86400">Last 24 hours</mat-option>
            <mat-option value="172800">Last 2 days</mat-option>
            <mat-option value="604800">Last 1 week</mat-option>
          </mat-select>
        </mat-form-field>

        <cdk-virtual-scroll-viewport class="cdk-viewport" itemSize="50">
          <mat-accordion class="c-accordion-header">
              <ng-container *cdkVirtualFor="let departure of departureResult.departures; templateCacheSize: 0">
                <mat-expansion-panel *ngIf="departure">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    Aircraft {{departure?.icao24?.toUpperCase()}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    <small>Departure time</small>
                    <h4>{{getFormattedDate(departure?.firstSeen)}}</h4>
                  <p>
                    <small>Arrival time (est.)</small>
                    <h4>{{getFormattedDate(departure?.lastSeen)}}</h4>
                  <p>
                    <small>Airports near destination</small>
                    <h4>{{departure?.arrivalAirportCandidatesCount}}</h4>
                </mat-expansion-panel>
              </ng-container>
          </mat-accordion>
        </cdk-virtual-scroll-viewport>

      </mat-tab>

      <mat-tab label="Arrivals">
        <mat-form-field [formGroup]="arrivalForm" class="c-range--mobile">
          <mat-label>Select a time range</mat-label>
          <mat-select  formControlName="arrivalSelector">
            <mat-option>None</mat-option>
            <mat-option value="3600">Last 1 hour</mat-option>
            <mat-option value="10800">Last 3 hours</mat-option>
            <mat-option value="21600">Last 6 hours</mat-option>
            <mat-option value="86400">Last 24 hours</mat-option>
            <mat-option value="172800">Last 2 days</mat-option>
            <mat-option value="604800">Last 1 week</mat-option>
          </mat-select>
        </mat-form-field>

        <cdk-virtual-scroll-viewport class="cdk-viewport" itemSize="50">
          <mat-accordion class="c-accordion-header">
              <ng-container *cdkVirtualFor="let arrival of arrivalResult.arrivals; templateCacheSize: 0">
                <mat-expansion-panel *ngIf="arrival">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    Aircraft {{arrival?.icao24?.toUpperCase()}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>
                    <small>Departure time</small>
                    <h4>{{getFormattedDate(arrival?.firstSeen)}}</h4>
                  <p>
                    <small>Arrival time (est.)</small>
                    <h4>{{getFormattedDate(arrival?.lastSeen)}}</h4>
                  <p>
                    <small>Airports near departure airport</small>
                    <h4>{{arrival?.arrivalAirportCandidatesCount}}</h4>
                </mat-expansion-panel>
              </ng-container>
          </mat-accordion>
        </cdk-virtual-scroll-viewport>

      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
</div>
