.airport-card{
  background-position: center !important;
  height: 85% !important;

  color: #ffffff;
  cursor: pointer;
  padding: 10px;

  mat-card-subtitle{
    color: #fafafa;
  }

  mat-card-actions{
    margin-bottom: 0;
    padding: 0;
  }

  mat-card-header{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}
