/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.traffic-dialog {
    min-height: 300px;

    .mat-dialog-container {
        max-width: none;
    }
}

.fill-space {
  flex: 1 1 auto;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.c-detail-modal--mobile{
  // height: 60vh;
  .cdk-viewport{
    height: 70vh;
  }
  .mat-dialog-content{
    max-height: 80vh;
  }
}
